/****************************************
 ----------------------------------------
 FOOTER STYLING STARTS HERE
 ----------------------------------------
 ***************************************/
/****************************************
 ----------------------------------------
 LESS VARIABLES
 ----------------------------------------
 ***************************************/
/****MEDIA QUERY****/
/****Font Styling****/
/****Font Sizes****/
/****color codes****/
/****BASE URL****/
/****Display Properties****/
/****Text align properties****/
/****Float properties****/
/****Device Visibility****/
/****Headings****/
/****paragraph****/
/****Border radius****/
/****Box sizing****/
/* Form Styling */
/* Brightcove video resizing */
/* Placeholder Styling */
/* Firefox 18- */
/* Firefox 19+ */
/*.box-shadow(0px 0px 20px 7px #e5e5e4);*/
.FSAlbert {
  font-family: "FS Albert Web Regular", Verdana, sans-serif;
}
.FSAlbertBold {
  font-family: "FS Albert Web Bold", Verdana, sans-serif;
}
.FSAlbertLight {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
input {
  outline: none;
}
.displayblock {
  display: block;
}
.displaynone {
  display: none;
}
.displayinblk {
  display: inline-block;
}
.displayinline {
  display: inline;
}
.displaytable {
  display: table;
}
.displaytablerow {
  display: table-row;
}
.displaytablecell {
  display: table-cell;
}
.bgnone {
  background: none;
}
.overflowhidden {
  overflow: hidden;
}
.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.alignr {
  text-align: right;
}
.alignl {
  text-align: left;
}
.alignc {
  text-align: center;
}
.textdnone {
  text-decoration: none;
}
.textdline {
  text-decoration: underline;
}
.font-normal {
  font-weight: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.cn {
  clear: none;
}
.clrbth {
  clear: both;
}
.clr {
  clear: both;
  overflow: hidden;
}
.fullwidth {
  width: 100%;
}
.autowidth {
  width: auto;
}
.margin0 {
  margin: 0;
}
.padding0 {
  padding: 0;
}
.prelative {
  position: relative;
}
.pabsolute {
  position: absolute;
}
.pstatic {
  position: static;
}
.pfixed {
  position: fixed;
}
.left0 {
  left: 0;
}
.top0 {
  top: 0;
}
.right0 {
  right: 0;
}
.bottom0 {
  bottom: 0;
}
.bordernone {
  border: 0;
}
.visible-desk {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-desk {
    display: none;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-desk {
    display: none;
  }
}
.visible-tab {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-tab {
    display: block;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-tab {
    display: none;
  }
}
.visible-desk.visible-tab {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-desk.visible-tab {
    display: block;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-desk.visible-tab {
    display: none;
  }
}
.hidden-mob {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hidden-mob {
    display: block;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .hidden-mob {
    display: none;
  }
}
.visible-mob {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-mob {
    display: none;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-mob {
    display: block;
  }
}
h1 {
  font-weight: normal;
  color: #0093cf;
  margin: 0 0 20px 0;
}
.front h1.page-title {
  display: none;
}
h2 {
  font-weight: normal;
  color: blue;
}
h3 {
  font-weight: normal;
  color: #0093cf;
}
h4 {
  color: #0093cf;
  font-weight: normal;
}
p {
  padding-top: 5px;
  padding-bottom: 10px;
}
p,
ul li,
ol li {
  color: #555555;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: #0093cf;
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
sup {
  top: -8px;
  font-size: 50%;
}
ul li.menu__item {
  list-style-type: none;
  list-style-image: none;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-size: 18.98px;
  color: #555555;
}
body.no-scrollable {
  overflow: hidden;
  position: fixed;
}
.skip-link__wrapper {
  display: none;
}
form .form-required {
  display: none;
}
.outer-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.outer-container .video-loader img {
  position: absolute;
  width: 10%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
}
.BrightcoveExperience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
::-webkit-input-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
:-moz-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
::-moz-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
:-ms-input-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
.footer-holder {
  background: url("/sites/default/themes/custom/lyricaondemand/images/footer-top-shadow.png") repeat-x;
  background-color: #fff;
}
.footer-holder .footer-logo {
  float: left;
  max-width: 50px;
  margin: 1.7% 1.5% 0 0;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .footer-holder .footer-logo {
    margin-top: 3.8%;
    margin-left: 1%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer-holder .footer-logo {
    margin-left: 1%;
  }
}
.footer-holder .footer {
  float: left;
  padding: 2% 0 0 0;
  width: 80%;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .footer-holder .footer {
    padding: 4.6% 0 0 2%;
  }
}
.footer-holder .footer .block__title {
  display: none;
}
.footer-holder .footer ul.menu {
  padding: 0;
}
.footer-holder .footer ul.menu li {
  display: block;
  float: left;
  font-family: "FS Albert Web Light", Verdana, sans-serif;
  margin: 0 2.65% 0 0;
  font-size: 14.99px;
  line-height: normal;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .footer-holder .footer ul.menu li {
    font-size: 12.37px;
  }
}
.footer-holder .footer ul.menu li a {
  color: #0093cf;
}
.footer-holder .footer .footer-copyright-block {
  float: none;
  font-family: "FS Albert Web Regular", Verdana, sans-serif;
  font-size: 12.85px;
  color: #464646;
}
.footer-holder .footer .footer-copyright-block .footer-copyright {
  margin: 1.2% 0;
}
.footer-holder .footer .footer-copyright-block .footer-copyright p {
  padding: 0;
}
.footer-holder .footer-contact-wrap {
  position: absolute;
  right: 0;
  top: -52px;
  background: url("/sites/default/themes/custom/lyricaondemand/images/contact-link-bg.png") no-repeat;
  width: 351px;
  max-width: 351px;
  height: 60px;
  border-top-left-radius: 30px;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .footer-holder .footer-contact-wrap {
    width: 80%;
    max-width: 250px;
    top: -32px;
    height: 40px;
    background-size: 100% 100%;
  }
}
.footer-holder .footer-contact-wrap .footer-contact-holder {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90%;
  height: 82%;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .footer-holder .footer-contact-wrap .footer-contact-holder {
    bottom: 0;
  }
}
.footer-holder .footer-contact-wrap .footer-contact-holder .contact-icon {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
}
.footer-holder .footer-contact-wrap .footer-contact-holder .contact-text {
  display: table-cell;
  font-family: "FS Albert Web Bold", Verdana, sans-serif;
  font-size: 17.13px;
  width: 90%;
  padding-left: 4%;
  color: #555555;
  line-height: normal;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .footer-holder .footer-contact-wrap .footer-contact-holder .contact-text {
    font-size: 12.13px;
  }
}
