/****************************************
 ----------------------------------------
 CSS FOR POPUP STARTS HERE
 ----------------------------------------
 ***************************************/
/****************************************
 ----------------------------------------
 LESS VARIABLES
 ----------------------------------------
 ***************************************/
/****MEDIA QUERY****/
/****Font Styling****/
/****Font Sizes****/
/****color codes****/
/****BASE URL****/
/****Display Properties****/
/****Text align properties****/
/****Float properties****/
/****Device Visibility****/
/****Headings****/
/****paragraph****/
/****Border radius****/
/****Box sizing****/
/* Form Styling */
/* Brightcove video resizing */
/* Placeholder Styling */
/* Firefox 18- */
/* Firefox 19+ */
.FSAlbert {
  font-family: "FS Albert Web Regular", Verdana, sans-serif;
}
.FSAlbertBold {
  font-family: "FS Albert Web Bold", Verdana, sans-serif;
}
.FSAlbertLight {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
input {
  outline: none;
}
.displayblock {
  display: block;
}
.displaynone {
  display: none;
}
.displayinblk {
  display: inline-block;
}
.displayinline {
  display: inline;
}
.displaytable {
  display: table;
}
.displaytablerow {
  display: table-row;
}
.displaytablecell {
  display: table-cell;
}
.bgnone {
  background: none;
}
.overflowhidden {
  overflow: hidden;
}
.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.alignr {
  text-align: right;
}
.alignl {
  text-align: left;
}
.alignc {
  text-align: center;
}
.textdnone {
  text-decoration: none;
}
.textdline {
  text-decoration: underline;
}
.font-normal {
  font-weight: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.cn {
  clear: none;
}
.clrbth {
  clear: both;
}
.clr {
  clear: both;
  overflow: hidden;
}
.fullwidth {
  width: 100%;
}
.autowidth {
  width: auto;
}
.margin0 {
  margin: 0;
}
.padding0 {
  padding: 0;
}
.prelative {
  position: relative;
}
.pabsolute {
  position: absolute;
}
.pstatic {
  position: static;
}
.pfixed {
  position: fixed;
}
.left0 {
  left: 0;
}
.top0 {
  top: 0;
}
.right0 {
  right: 0;
}
.bottom0 {
  bottom: 0;
}
.bordernone {
  border: 0;
}
.visible-desk {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-desk {
    display: none;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-desk {
    display: none;
  }
}
.visible-tab {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-tab {
    display: block;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-tab {
    display: none;
  }
}
.visible-desk.visible-tab {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-desk.visible-tab {
    display: block;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-desk.visible-tab {
    display: none;
  }
}
.hidden-mob {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hidden-mob {
    display: block;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .hidden-mob {
    display: none;
  }
}
.visible-mob {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .visible-mob {
    display: none;
  }
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .visible-mob {
    display: block;
  }
}
h1 {
  font-weight: normal;
  color: #0093cf;
  margin: 0 0 20px 0;
}
.front h1.page-title {
  display: none;
}
h2 {
  font-weight: normal;
  color: blue;
}
h3 {
  font-weight: normal;
  color: #0093cf;
}
h4 {
  color: #0093cf;
  font-weight: normal;
}
p {
  padding-top: 5px;
  padding-bottom: 10px;
}
p,
ul li,
ol li {
  color: #555555;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: #0093cf;
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
sup {
  top: -8px;
  font-size: 50%;
}
ul li.menu__item {
  list-style-type: none;
  list-style-image: none;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-size: 18.98px;
  color: #555555;
}
body.no-scrollable {
  overflow: hidden;
  position: fixed;
}
.skip-link__wrapper {
  display: none;
}
form .form-required {
  display: none;
}
.outer-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
.outer-container .video-loader img {
  position: absolute;
  width: 10%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
}
.BrightcoveExperience {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
::-webkit-input-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
:-moz-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
::-moz-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
:-ms-input-placeholder {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
}
#modalBackdrop {
  /* Override default inline style */
  background: #000000 !important;
  /* Override default inline style */
  opacity: 0.8 !important;
}
#modalContent {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%);
  max-height: 100%;
  min-width: 280px;
}
#modalContent .ctools-modal-content {
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
  height: auto !important;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  #modalContent .ctools-modal-content {
    width: 90% !important;
  }
}
#modalContent .ctools-modal-content .modal-header {
  display: none;
}
#modalContent .ctools-modal-content .modal-content {
  width: 100% !important;
  height: auto !important;
}
#modalContent .ctools-modal-content .modal-content .popup-form {
  text-align: center;
  font-family: "FS Albert Web Light", Verdana, sans-serif;
  color: #646464;
  max-width: 300px;
  margin: 0 auto;
}
#modalContent .ctools-modal-content .modal-content .popup-form h3 {
  font-family: "FS Albert Web Bold", Verdana, sans-serif;
  color: #0093cf;
  font-size: 25.7px;
}
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  #modalContent .ctools-modal-content .modal-content .popup-form h3 {
    font-size: 20.7px;
  }
}
#modalContent .ctools-modal-content .modal-content .popup-form form input {
  width: 100%;
  font-family: "FS Albert Web Light", Verdana, sans-serif;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #e7e7e7;
  color: #646464;
  padding: 2.6%;
  margin: 4.4% 0;
  height: 37.5px;
}
#modalContent .ctools-modal-content .modal-content .popup-form form input:-webkit-autofill {
  border: 2px solid #e3e3e3;
  -webkit-box-shadow: 0 0 0 1000px #e7e7e7 inset;
}
#modalContent .ctools-modal-content .modal-content .popup-form form .form-actions .form-submit {
  width: 100%;
  display: block;
  font-family: "FS Albert Web Bold", Verdana, sans-serif;
  color: #fff;
  max-width: 148px;
  height: 44px;
  margin: 5% auto;
  background-color: #0093cf;
}
#modalContent .ctools-modal-content .modal-content .popup-form form .error:not(input) {
  border: 0;
  background: none;
  margin: 0;
  text-align: left;
  color: #ff0003;
  padding-left: 8px;
  margin: -12px 0;
  font-size: 13.92px;
}
#modalContent .ctools-modal-content .modal-content .popup-form form .captcha {
  display: none;
}
#modalContent .ctools-modal-content .modal-content .popup-form.register-form input {
  font-size: 17.99px;
}
#modalContent .ctools-modal-content .modal-content .popup-form.register-form input.form-submit {
  font-size: 19.27px;
}
#modalContent .ctools-modal-content .modal-content .popup-form.forgot-password-form {
  font-family: "FS Albert Web Light", Verdana, sans-serif;
  font-size: 17.13px;
}
#modalContent .ctools-modal-content .modal-content .popup-form.forgot-password-form input {
  font-size: 19.27px;
}
#modalContent .ctools-modal-content .modal-content .popup-form.request-sent-popup {
  font-size: 17.13px;
}
#modalContent .ctools-modal-content .modal-content .popup-form.request-sent-popup .close-popup-button {
  width: 100%;
  display: block;
  font-family: "FS Albert Web Bold", Verdana, sans-serif;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 19.27px;
  color: #fff;
  max-width: 148px;
  height: 44px;
  margin: 25px auto 15px auto;
  background-color: #0093cf;
}
.throbber {
  display: none;
}
